<h3 class="text-end text-warning me-5">Welcome <span class="text-light">{{userObj.username}}</span></h3>

<div class="m-5 p-2">

    <div class="row">

        <div class="col-3">
            <img src="https://tse3.mm.bing.net/th?id=OIP.W1fDzc69LNG8XTNGzl6KXwHaHa&pid=Api&P=0&w=300&h=300"
                width="300px" alt="">
        </div>
        <div class="col-6">
            <h3 class="text-warning">Name : </h3>
            <p class="text-light">{{userObj.username}}</p>
            <h3 class="text-warning"> Date of Birth : </h3>
            <p class="text-light">{{userObj.DOB}}</p>
            <h3 class="text-warning"> Email : </h3>
            <p class="text-light">{{userObj.email}}</p>
        </div>
    </div>